<%- include("partials/header") %> 




   <!--header section start -->


      <div >
         <div class="header_bg">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <!-- <a class="logo" href="index.html"><img src="/assets/imagelogo.png"></a> -->
                   <h1><a class="logo" href="/">smartTutors</a></h1> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/service">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                     </ul>
                     <div class="call_section">
                        <ul>
                           <li><a href="https://www.facebook/smartTutors cohort"><img src="/assets/images/fb-icon.png"></a></li>
                           <li><a href="https://www.linkedin/smartTutors cohort"><img src="/assets/images/linkedin-icon.png"></a></li>
                           <li><a href="https://www.twitter/smartTutors cohort"><img src="/assets/images/twitter-icon.png"></a></li>
                           <li><a href="https://www.instagram/smartTutors_cohort"><img src="/assets/images/instagram-icon.png"></a></li>
                           <!-- <div class="donate_bt"><a href="#"><img src="images/search-icon.png"></a></div> -->
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
         <!-- header section end -->


      <!-- about section start -->


      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital"><span style="color: #fcce2d">Our</span>  About</h1>
            <p class="news_text">smartTutors Cohort is a mobile school, a service-oriented one established to bring education at its finest to the doorsteps of every home.</p>

               <div class="news_section layout_padding">
                  <div class="container">
                     <h1 class="news_taital"><span style="color: #fcce2d">Our</span>  Vision</h1>
                     <p class="news_text">Bringing every students to a point of maximum distinction academically, intellectually and spiritually for a perfect fit to global standard.</p>
                  </div>
               </div>

               <div class="news_section layout_padding">
                  <div class="container">
                     <h1 class="news_taital"><span style="color: #fcce2d">Our</span>  Mission</h1>
                     <p class="news_text">To switch every students out of the box. Making them see beyond the walls of a classroom and instilling a creative sense in them as they see with clarity the viability of their talents in relation to acedemics.</p>
                  </div>
               </div>

            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <p class="date_text">01 Sept 2021</p>
                        <h4 class="make_text">Make it Simple</h4>
                        <p class="lorem_text">Making learning more relatable through the application of fun at service delivery by our 'animated tutors'. This gives no room for boredom at learning.</p>
                        <p class="post_text">Post By : GrandTUTOR</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <img src="/assets/images/img-6.png" class="image_6" style="width:100%">
                     <h6 class="plus_text">+</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      










      <%- include("partials/footer") %> 