<%- include("partials/header") %> 


   <!--header section start -->


      <div >
         <div class="header_bg">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <!-- <a class="logo" href="index.html"><img src="/assets/imagelogo.png"></a> -->
                   <h1><a class="logo" href="/">smartTutors</a></h1> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                     </ul>
                     <div class="call_section">
                        <ul>
                           <li><a href="https://www.facebook/smartTutors cohort"><img src="/assets/images/fb-icon.png"></a></li>
                           <li><a href="https://www.linkedin/smartTutors cohort"><img src="/assets/images/linkedin-icon.png"></a></li>
                           <li><a href="https://www.twitter/smartTutors cohort"><img src="/assets/images/twitter-icon.png"></a></li>
                           <li><a href="https://www.instagram/smartTutors_cohort"><img src="/assets/images/instagram-icon.png"></a></li>
                           <!-- <div class="donate_bt"><a href="#"><img src="images/search-icon.png"></a></div> -->
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>

         <!-- header section end -->





      <!-- blog section start -->


      
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Our Blog</h1>
            <p class="news_text">Latest things happening, activities and engagement made by our tutors and tutee. </p>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src="/assets/images/img-7.png" class="image_7" style="width:100%">
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">UNLEASH THE GENIUS IN YOUR KIDS</h4>
                     <p class="ipsum_text">Our greatest ambition is to switch every child out of the box bring them therein, making them see beyond the walls of a classroom and instilling a creative sense in them as they see with clarity the viability of their talents in relation to academics.</p>
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">UPCOMING SESSION</h4>
                     <p class="ipsum_text"> Register for summer weeken maths clinic Sept.3 - Oct.2, 2021 </p>
                  </div>
               </div>
            </div>
            <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
         </div>
      </div>
      <!-- blog section end -->


    










<%- include("partials/footer") %> 