<%- include("partials/header") %> 



   <!--header section start -->


      <div >
         <div class="header_bg">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <!-- <a class="logo" href="index.html"><img src="/assets/imagelogo.png"></a> -->
                   <h1><a class="logo" href="/">smartTutors</a></h1> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/service">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                     </ul>
                     <div class="call_section">
                        <ul>
                           <li><a href="https://www.facebook/smartTutors cohort"><img src="/assets/images/fb-icon.png"></a></li>
                           <li><a href="https://www.linkedin/smartTutors cohort"><img src="/assets/images/linkedin-icon.png"></a></li>
                           <li><a href="https://www.twitter/smartTutors cohort"><img src="/assets/images/twitter-icon.png"></a></li>
                           <li><a href="https://www.instagram/smartTutors_cohort"><img src="/assets/images/instagram-icon.png"></a></li>
                           <!-- <div class="donate_bt"><a href="#"><img src="images/search-icon.png"></a></div> -->
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>



      
      <!-- newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="newsletter_main">
               <h1 class="newsletter_taital">Get<br> Your free consulting </h1>
               <div class="get_quote_bt"><a href="#">Get A Quote</a></div>
            </div>
            <p class="dolor_text"> We offer private classes for individual subjects as special training sessions such as french learning, programming, musical classes, creativity and mentorship.</p>
         </div>
      </div>
      <!-- newsletter section end -->


      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_left0">
                  <div class="mail_section">
                     <div class="contact_img">
                        <h1 class="contact_taital">TEACH     MENTOR   INSPIRE</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="map_main"><img src="/assets/images/map-img.png"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->



      















<%- include("partials/footer") %> 